<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
      <style>
   .fig {
    text-align: center; background-color:#99ffbb;;
   }
  </style>
</head>
<body style="background-color:#99ffbb">
{% block body %}{% endblock %}
<a href="https://github.com/QwertyQwertovich/free-sms-site">See source code</a>
<a href="/">Main Page</a><br>
Using <a href="https://textbelt.com/">Textbelt</a> Technologies<br>
THE WEBSITE (THE "SOFTWARE") IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
By using this service you accept <a href="https://textbelt.com/privacy/">Privacy & Compliance</a> and <a href="https://textbelt.com/tos/">Terms of Service</a><br>
When you make an request, we can retain information in records.<br>
<a href="https://github.com/QwertyQwertovich">Contact</a>
Copyright 2021 Qwerty_Qwertovich
</body>